body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

@font-face {
  font-family: 'Cafe24 Ssurround';
  src: url('fonts/Cafe24Ssurround-v2.0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24 Ssurround air';
  src: url('fonts/Cafe24SsurroundAir-v1.1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Cafe24 Ssurround';
}