body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'regular';
  src: url('fonts/Cafe24Ssurround-v2.0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'air';
  src: url('fonts/Cafe24SsurroundAir-v1.1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'regular';
}